
*{
    margin: 0;
    padding: 0;
}

div{
    margin: 30px;
    display: flex;
    position: relative;
    border: rgb(222, 199, 222) 2px solid;
    align-items: stretch;
    justify-content: start;
}

nav{
    border: palevioletred 1px solid;
    width: 200px;
    height: 100%;
}


nav > ul li{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: left;
    width: 20ch;
    height: 19ch;
    padding: 20px;
}

a{ 
    padding: 20px;
    margin: 20px;
    align-items: left;
    color: #2b2b2b;
    justify-content: left;
    list-style: none;
    text-align: center; 
    text-decoration: none;
    border: 2px solid coral;
}

a:hover{
    color:#2b2bb2;
    transition: 0.3s;
}

.user{
    display: flex;
    align-items: center;
    border: none;
}




