*{
    margin: 0;
    padding: 0;
}

div{
    display: flex;
    width: 200px;
    height: 100%;
    flex-direction: column;
    position: relative;
    border: 3px solid gray;
}


li > div{
    flex: 1;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 2px solid coral;
    border-radius: 3px;
    justify-content: space-between;
    gap: 2rem;
}


a{ 
    padding: 20px;
    margin: 20px;
    align-items: center;
    border: 2px solid coral;
    color: #2b2b2b;
    justify-content: left;
    list-style: none;
    text-align: center; 
    text-decoration: none;
}

a:hover{
    color:#2b2bb2;
    transition: 0.3s;
}






