/* Starting from the navbar you created in the HTML exercise called 'Navbar', add the CSS properties. 
The Search button should have a hover effect (background green and white text). */
/* **Suggestion**:
Use the classes to apply the CSS rules instead of ids, tags, or inline style.  */

*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar{
    list-style-type: none;
    border: 1px #231f20 solid ;
    margin: 20;
    padding: 0 0 0 15px; 
    overflow: hidden;
    background-color: #231f20;
    border-bottom: 3px white solid;
    width:850px;
}

h3{
    float: left;
    display: block;
    color: white;
    font-weight: bold;
    padding: 20px 15px 10px 10px;
}


li{
    float: left;
    list-style: none;
}


.home{
    display: block;
    color: white;
    font-weight: bold;
    padding: 22px 10px 10px 10px;
    text-decoration: none;
}

.linkbar{
    display: block;
    color: #abaeaa;
    font-weight: bold;
    padding: 22px 10px 10px 10px;
    text-decoration: none;
}
.dropdown{
    color: #abaeaa;
    font-weight: bold;
    padding: 22px 0 30px 10px;
    text-decoration: none;
    clear: left;
    vertical-align: middle;
    display: inline-block;
}

span{
    color: #c7c7c5;
    display:inline;
}

.disabled{
    display: block;
    color: #4e4e50;
    font-weight: bold;
    padding: 22px 80px 10px 10px;
    text-decoration: none;
}

/* no se porque despues de cambiar varias veces el color, deja de funcionar y no refleja los cambios en el explorer  */

.search{
    display: block;
    color: #67686c; 
    border-radius: 4px;
    border-color:#eaeaea; 
    float: left;
    padding: 10px 8px 10px 10px;
    border-style: inherit;
    margin: 10px 5px 10px 0;
}

.button{
    margin: 10px 0 10px 0;
    padding: 10px 12px 10px 12px;
    border-radius: 5px;
    overflow: hidden;
    background: 0;
    color:#008059;
    border-style: inherit;
    border-color:#008059;
}

button:hover{
    color: white;
    background-color: #008059;
    display: inline;
}